<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<body>
<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">팬미팅 신청</h1>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mb30">
          <h1 class="mb20">둘이서 오붓한 데이트</h1>
          <p>휴일이와 단 둘이 데이트 할 수 있는 절호의 기회!<br>
            식사도, 커피도, 야외 활동도 전부 좋아요! (음주는 컨디션에 따라 다름)<br>
            당신이 좋아하는 휴일이와 최고의 시간을 보내세요!<br>
            단, 관심사가 맞지 않으면.. 게다가 말도 없는 분이라면 대화를 이어가기 힘들 수 있으니 휴일이의 관심사를 미리 알아가는 것도 좋겠네요!<br>
          </p>
          <p>* 예약을 하더라도 휴일이의 사정에 따라 예약이 취소나 변경 될 수 있으니 주의하세요.</p>
        </div>
        <div class="bdr-btm"></div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bg-primary pinside40">
        <div class="contact-info">
          <div class="logo mb40"> <a href="index.html"><img th:src="@{/static/images/logo-white.png}" class="img-responsive" alt=""></a> </div>
          <ul class="listnone">
            <li><i class="icon-placeholder icon-secondary icon-2x"></i>
              <address>
                경기도 부천 부근<br>
                - 데이트 내용에 따라 홍대까진 이동 가능
              </address>
            </li>
            <li><i class=" icon-clock icon-secondary icon-2x"></i>
              <p>오후 1시 이후 예약 가능</p>
            </li>
            <li><i class=" icon-phone-call icon-secondary icon-2x"></i>
              <p>예약이 확정되면 카톡 드립니다</p>
            </li>
            <li><i class="icon-email icon-secondary icon-2x"></i>
              <p>마음이 담긴 편지는 아주 환영</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 outline pinside40">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>데이트 신청</h1>
          </div>
        </div>
        <div class="row">
          <form>
            <!-- Textarea -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <!-- Text input-->
              <div class="form-group">
                <label class=" control-label" for="name">만남 지역 :</label>
                <input id="name" name="name" type="text" class="form-control" placeholder="ex) 역곡역" required>
              </div>
            </div>
            <!-- Text input-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class=" control-label" for="email">활동 :</label>
                <input id="email" name="email" type="text" class="form-control" placeholder="ex) 보드게임" required>
              </div>
            </div>
            <!-- Text input-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class=" control-label" for="phone">MBTI :</label>
                <input id="phone" name="phone" type="text" class="form-control" placeholder=" " required>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class=" control-label" for="subject">잘생겼나요? (중요) :</label>
                <input id="subject" name="subject" type="text" class="form-control" placeholder="정우성 닮으면 무조건 만남 " required>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class=" control-label" for="textarea">하고 싶은 말 :</label>
                <textarea class="form-control" id="textarea" name="textarea" rows="6" placeholder=" "></textarea>
              </div>
            </div>
            <!-- Button -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <button id="singlebutton" name="singlebutton" class="btn btn-default">데이트 신청</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- 비로그인 -->
      <div class="table-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="fan-only-h1">팬미팅은 회원만 이용 가능합니다</h1>
        </div>
        <form>
          <!-- Button -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <button id="singlebutton" name="singlebutton" class="btn btn-default btn-fast-login">당장 로그인</button>
        </form>
      </div>
      <!-- 비로그인 -->

    </div>
  </div>
</div>
</body>
</th:block>
</html>