<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerJoinForm">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="footer-widget bg-white pinside30 mb30">
            <div class="logo mb30"> <a th:href="@{/static/images/logo.png}"><img th:src="@{/static/images/logo.png}" class="img-responsive" alt=""></a> </div>
            <p class="mb30">내가 나를 사랑하고 싶어서 만든 사이트에 관심을 가져주셔서 감사합니다! 부디 행복하시고 휴일이도 많이 사랑해주시고 또 귀여워해주세요!</p>
            <div class="footer-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contact Info</h2>
            <ul class="listnone">
              <li>
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-phone"></i></div>
                  <div class="col-md-10">
                    <h4 class="call-no"><a th:href="contact.html">010 8346 8610</a></h4>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-envelope-o"></i></div>
                  <div class="col-md-10">
                    <h4 class="mail-text"><a th:href="contact.html">whaleee@naver.com</a></h4>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-clock-o"></i></div>
                  <div class="col-md-10">
                    <h4 class="time-text"><a th:href="contact.html">스케쥴은 개인 문의</a></h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12">
          <div class="footer-widget">
            <h2 class="footer-title">Quick Links</h2>
            <ul class="listnone">
              <li><i class="fa fa-caret-right"></i><a th:href="@{/}">메인</a></li>
              <li><i class="fa fa-caret-right"></i><a th:href="service-list.html">소개</a></li>
              <li><i class="fa fa-caret-right"></i><a th:href="testimonial.html">팬레터</a></li>
              <li><i class="fa fa-caret-right"></i><a th:href="blog-default.html">굿즈 장터</a></li>
              <li><i class="fa fa-caret-right"></i><a th:href="pricing.html">팬미팅 신청</a></li>
              <li><i class="fa fa-caret-right"></i><a th:href="contact.html">온리팬즈</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tiny-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Shared by <i class="fa fa-love"></i><a th:href="@{https://bootstrapthemes.co}">BootstrapThemes</a></div>
      </div>
    </div>
  </div>
  <!-- back to top icon -->
  <a href="#0" class="cd-top" title="Go to top">Top</a>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script th:src="@{/static/js/jquery.min.js}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script th:src="@{/static/js/bootstrap.min.js}"></script>
  <script th:src="@{/static/js/menumaker.js}"></script>
  <!-- animsition -->
  <script type="text/javascript" th:src="@{/static/js/animsition.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/animsition-script.js}"></script>
  <!-- sticky header -->
  <script type="text/javascript" th:src="@{/static/js/jquery.sticky.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/sticky-header.js}"></script>
  <!-- testimonial-carousel-->
  <script type="text/javascript" th:src="@{/static/js/owl.carousel.min.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/testimonial-carousel.js}"></script>
  <!-- Back to top script -->
  <script th:src="@{/static/js/back-to-top.js}" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script th:inline="javascript">
  $( document ).ready( function() {
    $('#passwordCheck').on("propertychange change keyup paste input", function (frm) {
      $('#difPwd').css('display', 'block');
      if(document.getElementById('password').value == document.getElementById('passwordCheck').value) {
        $('#difPwd').css('display', 'none');
        return false;
      }
    });
  })
</script>
</th:block>
</html>