<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
  <div class="page-header page-caption">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="page-title">회원 정보</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="space-medium">
    <div class="container">
      <div class="row">
        <div class="table-center">
          <div class="form-group">
            <button id="passBtn" name="singlebutton" class="btn btn-default info-btn-form" onclick="window.location.href='/info/password'">비밀번호 수정</button>
            <button id="emailBtn" name="singlebutton" class="btn btn-default info-btn-form" onclick="noCompl()">이메일 수정</button>
            <button id="phoneBtn" name="singlebutton" class="btn btn-default info-btn-form" onclick="noCompl()">휴대폰 수정</button>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 outline pinside40 join-div">
          <div class="row">
            <form>
              <!-- Textarea -->
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <!-- Text input-->
                <div class="form-group join-input">
                  <label class=" control-label" for="name">새로운 이메일 : </label>
                  <input id="name" name="name" type="text" class="form-control" placeholder="5자 이상" required>
                  <div ><span class="join-alarm">코드가 발송되었습니다 메일을 확인해주세요</span></div>
                  <label class=" control-label" for="name">코드 : </label>
                  <input id="name" name="name" type="text" class="form-control" placeholder="5자 이상" required>
                  <div class="form-group">
                    <div ><span class="join-alarm">코드가 다릅니다</span></div>
                  </div>
                  <button id="singlebutton" name="singlebutton" class="btn btn-default info-btn-form">이메일 수정</button>

                </div>
              </div>
              <div class="form-group join-div-btn">
                <button id="singlebutton" name="singlebutton" class="btn btn-default btn-join">코드 발송</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</th:block>>
</html>