<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<body>
<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">회원 정보</h1>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="table-center">
        <div class="form-group">
          <button id="passBtn" name="singlebutton" class="btn btn-default info-btn-form" onclick="window.location.href='/info/password'">비밀번호 수정</button>
          <button id="emailBtn" name="singlebutton" class="btn btn-default info-btn-form" onclick="window.location.href='/info/email'">이메일 수정</button>
          <button id="phoneBtn" name="singlebutton" class="btn btn-default info-btn-form" onclick="window.location.href='/info/phone'">휴대폰 수정</button>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 outline pinside40 join-div">
        <div class="row">
          <form>
            <!-- Textarea -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <!-- Text input-->
              <div class="form-group join-input" th:object="${member}">
                <label class=" control-label" for="memberId">아이디 : </label>
                <input th:field="*{memberId}" type="text" class="form-control" placeholder="" disabled th:value="*{memberId}">
                <label class=" control-label" for="name">이름 : </label>
                <input th:field="*{name}" type="text" class="form-control" placeholder="" disabled th:value="*{name}">
                <div class="form-group">
                  <label class=" control-label" for="nickname">닉네임 :</label>
                  <input th:field="*{nickname}" type="text" class="form-control" placeholder="" disabled th:value="*{nickname}">
                </div>
                <div class="form-group">
                  <label class=" control-label" for="email">이메일 :</label>
                  <input th:field="*{email}" type="text" class="form-control" placeholder="" disabled th:value="*{email}">
                </div>
                <label class=" control-label" for="email">휴대폰 :</label>
                <input th:field="*{phone}" type="text" class="form-control" placeholder="" disabled th:value="*{phone}">
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</th:block>
</html>