<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<body>
<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">ID 님</h1>
<!--        <h1 class="page-title" th:text="${session.nickname}+'님'">ID 님</h1>-->
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a th:href="@{/info/modify}" class="title">회원 정보/수정</a></h2>
            <a th:href="@{/info/modify}" class="btn-link">확인하기</a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="service-detail.html" class="title">내가 쓴 팬레터</a></h2>
            <a href="service-detail.html" class="btn-link">확인하기</a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="service-detail.html" class="title">장터 내역</a></h2>
            <a href="service-detail.html" class="btn-link">확인하기</a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="service-detail.html" class="title">배송 정보</a></h2>
            <a href="service-detail.html" class="btn-link">확인하기</a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="service-detail.html" class="title">팬미팅 내역</a></h2>
            <a href="service-detail.html" class="btn-link">확인하기</a> </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service-block mb30 outline">
          <div class="service-caption pinside40">
            <h2 class="service-title"><a href="service-detail.html" class="title">회원 탈퇴</a></h2>
            <a href="service-detail.html" class="btn-link">확인하기</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</th:block>
</html>