<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<body>
<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">회원 가입</h1>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="table-center"><h1 class="login-title">회원 가입</h1></div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 outline pinside40 join-div">
        <div class="row">
          <form>
            <!-- Textarea -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <!-- Text input-->
              <div class="form-group join-input">
                <label class=" control-label" for="name">아이디 : </label>
                <input id="name" name="name" type="text" class="form-control" placeholder="5자 이상" required>
                <div ><span class="join-alarm">아이디가 중복입니다</span></div>
                <div ><span class="join-alarm">아이디를 입력해주세요</span></div>
                <div class="form-group">
                  <label class=" control-label" for="email">비밀번호 :</label>
                  <input id="email" name="email" type="password" class="form-control" placeholder="영문/숫자 포함 8자" required>
                  <div ><span class="join-alarm">비밀번호는 8자 이상</span></div>
                </div>
                <label class=" control-label" for="email">비밀번호 확인 :</label>
                <input id="email" name="email" type="password" class="form-control" placeholder="영문/숫자 포함 8자" required>
                <div ><span class="join-alarm">비밀번호가 서로 다릅니다</span></div>
                <label class=" control-label" for="name">이름 : </label>
                <input id="name" name="name" type="text" class="form-control" placeholder="5자 이상" required>
                <div class="form-group">
                  <label class=" control-label" for="email">닉네임 :</label>
                  <input id="email" name="email" type="password" class="form-control" placeholder="영문/숫자 포함 8자" required>
                  <div ><span class="join-alarm">닉네임이 중복입니다</span></div>
                </div>
                <div class="form-group">
                  <label class=" control-label" for="email">이메일 :</label>
                  <input id="email" name="email" type="password" class="form-control" placeholder="영문/숫자 포함 8자" required>
                </div>
                <div class="form-group">
                  <label class=" control-label" for="email">코드 :</label>
                  <input id="email" name="email" type="password" class="form-control" placeholder="영문/숫자 포함 8자" required>
                  <div ><span class="join-alarm">코드가 다릅니다</span></div>
                </div>
                <label class=" control-label" for="email">휴대폰 :</label>
                <input id="email" name="email" type="password" class="form-control" placeholder="영문/숫자 포함 8자" required>
                <div ><span class="join-alarm">번호가 중복입니다</span></div>
              </div>
            </div>

            <div class="form-group join-div-btn">
              <button id="singlebutton" name="singlebutton" class="btn btn-default btn-join">중복 확인</button>
            </div>
            <div class="form-group join-div-btn">
              <button id="singlebutton" name="singlebutton" class="btn btn-default btn-join">중복 확인</button>
            </div>
            <div class="form-group join-div-btn">
              <button id="singlebutton" name="singlebutton" class="btn btn-default btn-join">코드 전송</button>
            </div>
            <div class="form-group join-div-btn">
              <button id="singlebutton" name="singlebutton" class="btn btn-default btn-join">코드 확인</button>
            </div>
            <div class="form-group join-div-btn">
              <button id="singlebutton" name="singlebutton" class="btn btn-default btn-join">중복 확인</button>
            </div>

            <!-- Button -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <button id="singlebutton" name="singlebutton" class="btn btn-default btn-join-compl">회원 가입</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</th:block>
</html>