<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment(memberId)">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
          <div class="logo"><a th:href="@{/}"><img th:src="@{/static/images/logo.png}" alt=""></a> </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
              <div class="top-btn" th:unless="${session.id != null}"><a th:href="@{/loginForm}" class="btn btn-default menu-title">로그인</a> </div>
              <div class="top-btn" th:unless="${session.id == null}"><a th:href="@{/loginForm}" class="btn btn-default menu-title" th:text="${session.nickname}"></a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- navigation -->
  <div class="navigation-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="navigation" id="navigation">
            <ul>
              <li><a th:href="@{/intro}" title="Features" class="animsition-link menu-title">휴일</a>
                <ul>
                  <li><a th:href="@{/intro}" title="Testimonial" class="animsition-link menu-title">소개</a></li>
                  <li><a href="testimonial.html" title="Testimonial" class="animsition-link menu-title">추천사</a></li>
                  <li><a href="testimonial.html" title="Testimonial" class="animsition-link menu-title">음악</a></li>
                  <li><a href="testimonial.html" title="Testimonial" class="animsition-link menu-title">그림</a></li>
                  <li><a href="testimonial.html" title="Testimonial" class="animsition-link menu-title">개발ing</a></li>
                </ul>
              </li>
              <li><a th:href="@{/fanLetter}" title="Blog" class="animsition-link menu-title">팬레터</a></li>
              <li><a th:href="@{/market/buy}" title="Pricing" class="animsition-link menu-title">굿즈 장터</a>
                <ul>
                  <li><a th:href="@{/market/buy}" title="Testimonial" class="animsition-link menu-title">구매</a></li>
                  <li><a th:href="@{/market/sell}" title="Testimonial" class="animsition-link menu-title">판매</a></li>
                  <li><a href="testimonial.html" title="Testimonial" class="animsition-link menu-title">내역 확인</a></li>
                </ul>
              </li>
              <li><a href="contact.html" title="Contact Us" class="animsition-link menu-title">팬미팅 신청</a>
                <ul>
                  <li><a href="testimonial.html" title="Testimonial" class="animsition-link menu-title">신청하기</a></li>
                  <li><a href="testimonial.html" title="Testimonial" class="animsition-link menu-title">내역</a></li>
                </ul>
              </li>
              <li><a href="style-guide.html" title="Style Guide" class="animsition-link menu-title">온리팬즈</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>