<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">
    <body>
    <div class="hero-section">
        <!-- navigation -->
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="hero-caption">
                        <h1 class="hero-title">너 오늘도 휴일이구나?</h1>
                        <p class="hero-text">
                            저는요 휴일을 좋아해요<br>
                            매일 휴일만 기다린다구요<br>
                            어제도 휴일이 오기를 기다리며 밤새 기도했는 걸요<br>
                            그런데 이곳은 언제나 휴일이래요<br>
                            안녕? 반가워요!<br>
                            오늘도 휴일이에요
                        </p>
                        <a th:href="service-list.html" class="btn btn-default">휴일이 알아보기</a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="about-img"><img th:src="@{/static/images/about-img.jpg}" class="img-responsive" alt=""></div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="about-info mb40 bg-light pinside30">
                                <div class="section-title">
                                    <h1>개쩌는 휴일이를 덕질하세요</h1>
                                </div>
                                <p>안녕하세요? 휴일입니다.<br>
                                    먼저 이 사이트를 만든 휴일이에게 이 모든 영광을 바칩니다. 고마워 휴일아!<br>
                                </p>
                                <p>저는 가끔 상상을 합니다. 제가 혼자 끄적거린 노래들이 유명해져서 부자가 되고, 유퀴즈에 나오는 과정을 말이죠 저는 항상 제 자신이 남들과는 다르다고 생각했어요. 특별한 사람 말이죠.(특별하다는 게 꼭 좋은 의미는 아니라는 건 아시죠?) 어쨌든 저는 저의 특별함이 좋아요. 어떤 사람들은 저를 좋아하지 않지만, 저를 좋아하는 사람들은 저를 아주 사랑하거든요.<br>
                                </p>
                                <p>어쨌든 이 곳은 휴일이를 사랑하는 사람들이 머무는 곳입니다.<br>
                                    이곳에 온 그대, 이 곳은 오늘도 휴일이에요 :)
                                </p>
                                <div class="text-right"><a href="#" class="btn-link">그래서 휴일이가 누군데?</a></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pdl40">
                                <h4 class="about-name mb10">- 강휴일 <span class="about-meta"> Kang Hyuil(Holiday) </span></h4>
                                <div class="about-sign"><img th:src="@{/static/images/about-sign.png}" class="img-responsive" alt=""> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="mt20">
                        <div class="section-title">
                            <h1 class="heading-line">휴일이의<br>팬들이 전하는<br>생생한 후기</h1>
                            <p class="mb40">어떤 이들에게는 믿기 어렵겠지만<br>
                                휴일이 주변에는 휴일이를 사랑하는 사람들이 가득하답니다!<br>
                                이들이 휴일이에게 어떤 사랑을 받고 있으며 또 사랑하고 있는지 알고 싶어요?
                            </p>
                            <a th:href="testimonial.html" class="btn btn-default">정말 궁금해요!</a> </div>
                    </div>
                </div>
                <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
                    <div id="testimonial" class="testimonial">
                        <div class="testimonial-block pinside40 outline bg-white mb30">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="testimonial-content"> <span class="quote-left">“</span>
                                        <h1 class="testimonial-title">Professional Salon</h1>
                                        <div class="testimonial-text">
                                            <p>“It is a very professional salon with excellent results, this staff work hard to make every visit a beautifully, i look forword to and enjoy my visit.”</p>
                                        </div>
                                        <h3 class="testimonial-name">- Susan Blake</h3>
                                        <h6 class="testimonial-meta">Customer</h6>
                                    </div>
                                </div>
                                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                                    <div class="testimonial-img"><img th:src="@{/static/images/testimonial-1.jpg}" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block pinside40 outline bg-white mb30">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="testimonial-content"><span class="quote-left">“</span>
                                        <h1 class="testimonial-title">Fantastic Treatment</h1>
                                        <div class="testimonial-text">
                                            <p>“Not only do you get a fantastic treatment but you are also valued and cared for. The best beauty salon I've been to I am happy to recomend to anyone”</p>
                                        </div>
                                        <h3 class="testimonial-name">- Isabel Enlow</h3>
                                        <h6 class="testimonial-meta">Customer</h6>
                                    </div>
                                </div>
                                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                                    <div class="testimonial-img"><img th:src="@{/static/images/testimonial-2.jpg}" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block pinside40 outline bg-white mb30">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="testimonial-content"><span class="quote-left">“</span>
                                        <h1 class="testimonial-title">Feeling Relaxed</h1>
                                        <div class="testimonial-text">
                                            <p>“I always come out of Beauty Salon feeling relaxed and calm, & able to face whatever the world wants to throw at me! thank you beauty salon”</p>
                                        </div>
                                        <h3 class="testimonial-name">- Kathy Parks</h3>
                                        <h6 class="testimonial-meta">Customer</h6>
                                    </div>
                                </div>
                                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                                    <div class="testimonial-img"><img th:src="@{/static/images/testimonial-3.jpg}" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="section-title">
                        <h1 class="heading-line">휴일이는<br>무엇을 했을까?</h1>
                        <p class="mb40">2017 년 부터 2023년, 햇수로는 6년간 아무 경력도 없는 휴일이. 하지만 그 동안 탱자탱자 놀지만은 않았을 텐데,<br>그 긴 시간 동안 휴일이는 무엇을 했을까?</p>
                        <a href="#" class="btn btn-default">헉 너무 궁금해요!</a></div>
                </div>
                <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="team-block mb30">
                                <figure class="imghvr-fade">
                                    <div class="team-img"><img th:src="@{/static/images/team-1.jpg}" class="img-responsive" alt=""></div>
                                    <figcaption>
                                        <div class="team-info">
                                            <h2 class="team-name">Connie Jenkins</h2>
                                            <h6 class="team-meta">Makeup Specialist</h6>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="team-block mb30">
                                <figure class="imghvr-fade">
                                    <div class="team-img"><img th:src="@{/static/images/team-2.jpg}" class="img-responsive" alt=""></div>
                                    <figcaption>
                                        <div class="team-info">
                                            <h2 class="team-name">Ethel Kinney</h2>
                                            <h6 class="team-meta">Hairstyle Specialist</h6>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="mt70">
                        <div class="section-title">
                            <h1 class="heading-line">강휴일 썰 푼다 !</h1>
                            <p class="mb40">
                                오늘도 휴일에서만 만날 수 있는 휴일이의 팬들을 위한 특별 일상 공개!<br>
                                게다가 휴일이의 속 마음까지 알 수 있는 소소한 일기나 직접 만든 가사까지?!<br>
                                어디에서도 볼 수 없는 휴일이의 일상을 지금 만나볼까요?

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 co l-xs-12">
                            <div class="portfoio-img"> <a href="#" class="imghover"><img th:src="@{/static/images/portfolio-1.jpg}" class="img-responsive" alt=""></a> </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="portfoio-img"> <a href="#" class="imghover"><img th:src="@{/static/images/portfolio-2.jpg}" class="img-responsive" alt=""></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="portfoio-img"> <a href="#" class="imghover"><img th:src="@{/static/images/portfolio-3.jpg}" class="img-responsive" alt=""></a> </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="portfoio-img"> <a href="#" class="imghover"><img th:src="@{/static/images/portfolio-4.jpg}" class="img-responsive" alt=""></a> </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</th:block>
</html>
