<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<body>
<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a th:href="@{/market/sell}"><h1 class="page-title">판매</h1></a>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="table-center">
        <div class="form-group write-title">
          <button id="writeBtn" name="writeBtn" class="btn btn-default info-btn-form">글쓰기</button>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" th:each="sell : ${marketList}">
        <div class="price-block outline mb30" th:value="${sell.id}">
          <a th:href="@{/market/sell/}+${sell.id}"><div class="price-img">
            <img th:src="@{${sell.filePath}}" class="img-responsive" alt="" style="width: 350px; height: 219px;"></div></a>
            <div class="price-content pinside30">
              <a th:href="@{/market/sell/}+${sell.id}">
                <h2 class="price-title mb10" th:text="${sell.title}">휴일이가 신던 신발 팝니다</h2>
              </a>
          <p class="mb30" th:text="'닉네임 '+${sell.nickname}+' | 날짜 '+${sell.uploadDate}+' | 조회수'+${sell.view}">닉네임 | 날짜 | 조회수</p>
        </div>
      </div>
    </div>
    </div>

      <div class="table-center"
           th:with="
          start=${(marketList.number/10) * 10 + 1},
          end=(${(marketList.totalPages == 0) ? 1 : (start + 9 < marketList.totalPages ? start + 9 : marketList.totalPages)})">
        <!-- 현재페이지 -->
        <a class="board-number this-page" th:if="${start > 1}"  th:href="@{/market/sell(page=${start - 2})}">&lt;</a>
        <th:block th:each="page: ${#numbers.sequence(start, end)}">
          <a class="board-number" th:text="${page}" th:href="@{/market/sell(page=${page - 1})}"
             th:classappend="${nowPage + 1 == page} ? 'this-page' : ''">1</a>
        </th:block>
        <a class="board-number this-page" th:if="${end < marketList.totalPages}" th:href="@{/market/sell(page=${start + 9})}">&gt;</a>
      </div>

</div>
</div>
<script th:inline="javascript">

  $( document ).ready( function() {
    $('#writeBtn').click(function () {
      let token = localStorage.getItem('jwt');
      window.location.href='/market/sell/write?token='+token;
    })
  })
</script>
</body>
</th:block>
</html>