<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<body>
<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a th:href="@{/market/sell}"><h1 class="page-title">판매</h1></a>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" th:each="sell : ${marketList}">
        <div class="price-block outline mb30" th:value="${sell.id}">
          <a th:href="@{/market/sell/}+${sell.id}"><div class="price-img">
            <img th:src="@{${sell.filePath}}" class="img-responsive" alt="" style="width: 350px; height: 219px;"></div></a>
            <div class="price-content pinside30">
              <a th:href="@{/market/sell/판}+${sell.id}">
                <h2 class="price-title mb10" th:text="${sell.title}">휴일이가 신던 신발 팝니다</h2>
              </a>
          <p class="mb30" th:text="'닉네임 '+${sell.nickname}+' | 날짜 '+${sell.uploadDate}+' | 조회수'+${sell.view}">닉네임 | 날짜 | 조회수</p>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</body>
</th:block>
</html>