<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<body>
<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">소개</h1>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="post-holder mb30 bg-default pinside30 text-white text-center">
          <div class="quote-block"><span class="quote-left">“</span>
            <h1 class="text-white text-font"><strong>방 정리 빼고 다 잘하는 사람</strong><br>
            </h1>
            <span class="text-white small">- YongWoo Lee</span> <span class="quote-right">”</span></div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="post-holder mb30 bg-default pinside30 text-white text-center">
          <div class="quote-block"><span class="quote-left">“</span>
            <h1 class="text-white text-font"><strong>부천시 선정 남자들이 가장 좋아하는 여자 1위</strong><br>
            </h1>
            <span class="text-white small">- 김한빈 (이천김씨22대손배)</span> <span class="quote-right">”</span></div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="post-holder mb30 bg-default pinside30 text-white text-center">
          <div class="quote-block"><span class="quote-left">“</span>
            <h1 class="text-white text-font"><strong>죽어</strong><br>
            </h1>
            <span class="text-white small">- 김수민 (일본 거주)</span> <span class="quote-right">”</span></div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="service-single-block mb30">
              <div class="service-single-img"> <img src="@{/static/images/intro_profile.jpg}" class="img-responsive" alt=""></div>
              <div class="service-single-content pinside30 outline">
                <h1 class="section-title">휴일이</h1>
                <p>내용내용</p>
                <!-- <img src="images/service-right-img.jpg" class="img-responsive alignright" alt=""> -->
                <!-- <img src="images/service-left-img.jpg" class="img-responsive alignleft" alt=""> -->
                <p>내용내용</p>
                <p>내용내용내용</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="sidenav pinside30 mb30">
              <ul class="listnone sidenav-outline">
                <li><i class="fa fa-caret-right"></i> <a th:href="@{/intro}" class="active">소개</a></li>
                <li><i class="fa fa-caret-right"></i> <a th:href="@{/friends}">친구 리뷰</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">음악</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">그림</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">개발 ing</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</th:block>
</html>