<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">
<body>

<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">음악</h1>
      </div>
    </div>
  </div>
</div>

<div class="space-medium">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-8">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="service-single-block mb30">
              <div class="service-single-img">
                <iframe width="750" height="400" src="https://www.youtube.com/embed/Ptx_zqGwQ6w" title="그게아닌 - 고래" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="service-single-content pinside30 outline">
                <h1 class="section-title">고래</h1>
                <p>18살 때 작곡한 노래로 약 한 시간만에 작곡한 곡.</p>
                <p>실용음악 학원을 다녔을 당시 같이 입시를 하던 친구들과 '그게아닌' 이라는 밴드를 만들어 리더로 활동했었다. 그게아닌에서는 휴일이가 직접 작곡한 노래를 연주했는데 그 중에서도 '고래'는 개인적으로 휴일이가 아직도 좋아하고 가끔 찾아 듣는 곡이기도 하다. <br>
                솔로 부분은 항상 즉흥 연주를 했었는데, 특히 이 영상으로 합주했던 날 했던 솔로가 아주 마음에 들어 나중에 개인적으로 녹음을 했을 때 이 영상에 있는 솔로를 직접 카피하여 녹음하기도 했다. 강휴일이 만들었던 곡들 중 제일 사랑하는 곡을 뽑으라면 세 손가락 안에 들 정도로 좋아하는 곡.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="service-single-block mb30">
              <div class="service-single-img">
                <iframe width="750" height="400" src="https://www.youtube.com/embed/XkVxY2VQL_o" title="그게아닌 - Blues for seok" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              </div>
              <div class="service-single-content pinside30 outline">
                <h1 class="section-title">Blues for seok</h1>
                <p>17살 때 작곡한 노래로 당시 실용음악학원에서 레슨하던 베이스 선생님에게 바치는 곡</p>
                <p>
                  인생에서 처음 만들어본 노래로, 당시 올맨브라더스 밴드의 Stormy Monday 와 Jelly Jelly 에 빠져있던 때 '새로운 스타일의 (간지나는) 블루스를 만들고 싶다'는 생각을 가지고 만들었다.<br>
                  일반 블루스와는 다르게 Dm7 - Em7 - FM7 으로 가는 코드 진행이 인상적으로 주변 사람들에게 꽤나 호평을 받았던 곡. 실제로 꼭 정식 합주를 하지 않더라도 이 반주를 가지고 사람들과 종종 블루스 잼(즉흥 솔로 연주)을 하기도 했었다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="service-single-block mb30">
              <div class="service-single-img">
                <iframe width="750" height="400" src="https://www.youtube.com/embed/QCmhTZTVEKA" title="사랑하는 마음으로" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="service-single-content pinside30 outline">
                <h1 class="section-title">사랑하는 마음으로</h1>
                <p>처음이자 마지막으로 작곡했던 연주곡</p>
                <p>
                  집에 있던 클래식 기타로 당시 떠오르던 멜로디에 코드를 입혀서 만든 곡. 예전이나 지금이나 이론적인 부분이 많이 부족해서 코드를 사용해서 만들었다기 보다는 멜로디에 음들을 입히는 방식으로 만들었다고 보는 것이 맞다. <br>
                  사랑하는 마음은 처음엔 설레고 힘들기도 하지만 그래도 결국 사랑이라고 말하고 싶었다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-4 menu-music">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="sidenav pinside30 mb30">
              <ul class="listnone sidenav-outline">
                <li><i class="fa fa-caret-right"></i> <a th:href="@{/intro}">소개</a></li>
                <li><i class="fa fa-caret-right"></i> <a th:href="@{/review}">친구 리뷰</a></li>
                <li><i class="fa fa-caret-right"></i> <a th:href="@{/music}" class="active">음악</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">그림</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">개발 ing</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</th:block>
</html>