<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">
<body>

<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">그림</h1>
      </div>
    </div>
  </div>
</div>

<div class="space-medium">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-8">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="service-single-block mb30">
              <div class="service-single-img"> <img th:src="@{/static/images/service-single.jpg}" class="img-responsive" alt=""></div>
              <div class="service-single-content pinside30 outline">
                <h1 class="section-title">Nail Polish</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipism porttitor suscipit lacus et bibendulass aptentse taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeorbi vehicula congues sapien eu bibenduteger posuere dolor non nulla elementum roin auctodio eget molestie templla in sem ullamcorper tempus purus nectincidunt veliurabitur faucibus velest.</p>
                <p>Sedpellentesque dui necrutrum tincidunuisque sagittis placerat eratid interdum ipsum tempors in molestie arcueu sagittis nisluis urnametus pulvinar idpulvinar condimentum uturpi sraesent is lobortis noneque vitae suscip enean lacus urna tincidunt velarcu acvolutpat venenatis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur ones adipism porttitor suscipit lacus et bibendulass aptentse taciti sociosqu ad litora torquent per conubia nostraper inceptos vehicul.</p>
                <p>Consectetur ones adipism porttitosum dolor sit amet suscipit lacuset bibendulass aptentse taciti sociosqu ad litora torquent per conubia nostraper inceptos vehicul.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="sidenav pinside30 mb30">
              <ul class="listnone sidenav-outline">
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">소개</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">친구 리뷰</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">음악</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html" class="active">그림</a></li>
                <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">개발 ing</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</th:block>
</html>