<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">

  <div class="space-medium">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"> <span class="quote-left">“</span>
                      <h1 class="testimonial-title">든든한 말파이트 같은<br>내 친구 휴일이</h1>
                      <div class="testimonial-text">
                        <p>제 친구 후일이는 언제나 듬직하고 믿을 만한 친구입니다. 표정이 많이 없긴한데 화난거 아니닌까 긴장안하셔두 됩니다. 항상 외로운지 남자를 끊임없이 갈구해 남자공장장으로도 저희들 사이에선 불리웁니다. 저는 이 친구가 항상 잘됐으면 좋겠습니다. 코딩계의 떠오르는 별 !! 게섯거라 마크 저커버그 내친구 박휴일 아니 강휴일이 간다!! 화이팅!!</p>
                      </div>
                      <h3 class="testimonial-name">- 고건부 <a class="testimonial-name-content">만 27세/남성/미혼(여친있음)</a></h3>
                      <h6 class="testimonial-meta">박준서 친구여서 롤하다가 친해짐</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/review-gogunbu.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"><span class="quote-left">“</span>
                      <h1 class="testimonial-title">자리에 앉으면<br>엉덩이 불날 때까지<br>일어나지 않는 내 친구</h1>
                      <div class="testimonial-text">
                        <p>휴일이는 놀자고 저희 집에 오면 하루 온종일 코딩만 합니다. 저희 집은 그냥 장소 제공일 뿐입니다. 휴일이는 감자칩만 있으면 홈페이지 하나는 그냥 뚝딱인 친구예요. 저 혼자가 떠들다가 리액션이 없으면 뭔가 잘못되었다고 느낍니다. 오직 두 가지, 연락하는 남자에게 답이 오지 않거나 코딩하다가 잘못된 한 글자를 찾는 경우죠. 단순한 성격 덕분에 입맛을 맞출 필요가 없어서 참 편한 친구입니다. 사랑해 강휴일 감자칩 사놨어!</p>
                      </div>
                      <h3 class="testimonial-name">- 오채윤 <a class="testimonial-name-content"> 파릇파릇한 95년생 소녀</a></h3>
                      <h6 class="testimonial-meta">같은 연습실쓰다가 친구 됨</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/review-ochaeyun.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"> <span class="quote-left">“</span>
                      <h1 class="testimonial-title">a holiday<br>in heaven</h1>
                      <div class="testimonial-text">
                        <p>휴일이는 기댈 수 있는 큰 나무, 여행 중 모닥불같은 사람이다. 존재만으로 따듯한 위로가 된다.
                          휴일이를 만났다면 당신은 행운아이다!
                          다만, 편하다고 휴일이를 만만하게 보면 안된다..만약 만만하게 본다면 여행 중 야생곰의 습격이 되니 조심해야한다..😱</p>
                      </div>
                      <h3 class="testimonial-name">- 정아름 <a class="testimonial-name-content">불쌍한 팀장님</a></h3>
                      <h6 class="testimonial-meta">휴일이랑 20년 넘게 친구</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/review-jungareum.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"> <span class="quote-left">“</span>
                      <h1 class="testimonial-title">그녀에게 부족한 건<br>말의 속도 뿐...</h1>
                      <div class="testimonial-text">
                        <p>제 친구 휴일이를 소개합니다! 제 친구 휴일이에겐 부족한 것은 말의 속도뿐… 그녀는 키도, 패션 능력도, 성격도, 여기에 코딩을 사랑하는 마음과 열정도 부족함이 없습니다. 그간 제가 옆에서 지켜본 그녀의 코딩 열정은 그 누구도 따라잡지 못한다 장담합니다! 코딩왕으로 떡상 가즈아</p>
                      </div>
                      <h3 class="testimonial-name">- 김수지 <a class="testimonial-name-content"> 중3 때는 안 친했음</a></h3>
                      <h6 class="testimonial-meta">김민수 때문에 친해짐</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/review-kimsuji.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"> <span class="quote-left">“</span>
                      <h1 class="testimonial-title">이름부터 편안해지는<br>그 이름 강휴일</h1>
                      <div class="testimonial-text">
                        <p>휴일하면 무엇이 떠오르시나요? 휴식? 음주가무? 이 친구.. 이름에 걸맞게 모든사람이 재밌고 편안할 수 있도록 즐거움을 선사합니다. 업무능력? 휴일을 빠르게 즐길 수 있도록 노력 또한 합니다. 이름값 하는 이친구 코딩세계에서도 독보적이지 않을까요?</p>
                      </div>
                      <h3 class="testimonial-name">- 김민수 <a class="testimonial-name-content"> 유사 모솔 / 연상(건물주) 여친 구함</a></h3>
                      <h6 class="testimonial-meta">중3 부터 23살까지 같이 마비노기 함</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/review-kimminsu.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <div class="sidenav pinside30 mb30">
                <ul class="listnone sidenav-outline">
                  <li><i class="fa fa-caret-right"></i> <a th:href="@{/intro}">소개</a></li>
                  <li><i class="fa fa-caret-right"></i> <a th:href="@{/friends}" class="active">친구 리뷰</a></li>
                  <li><i class="fa fa-caret-right"></i> <a th:href="@{/music}">음악</a></li>
                  <li><i class="fa fa-caret-right"></i> <a th:href="@{/drawing}">그림</a></li>
                  <li><i class="fa fa-caret-right"></i> <div id="codingR"><a>개발 ing</a></div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    $(document).ready(function() {
      $('#codingR').click(function() {
        alert('준비중입니다');
      });
    });
  </script>
</th:block>
</html>