<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">

  <div class="space-medium">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"> <span class="quote-left">“</span>
                      <h1 class="testimonial-title">든든한 말파이트 같은<br>내 친구 휴일이</h1>
                      <div class="testimonial-text">
                        <p>제 친구 후일이는 언제나 듬직하고 믿을 만한 친구입니다. 표정이 많이 없긴한데 화난거 아니닌까 긴장안하셔두 됩니다. 항상 외로운지 남자를 끊임없이 갈구해 남자공장장으로도 저희들 사이에선 불리웁니다. 저는 이 친구가 항상 잘됐으면 좋겠습니다. 코딩계의 떠오르는 별 !! 게섯거라 마크 저커버그 내친구 박휴일 아니 강휴일이 간다!! 화이팅!!</p>
                      </div>
                      <h3 class="testimonial-name">- 고건부 <a class="testimonial-name-content">만 27세/남성/미혼(여친있음)</a></h3>
                      <h6 class="testimonial-meta">박준서 친구여서 롤하다가 친해짐</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/review-gogunbu.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"><span class="quote-left">“</span>
                      <h1 class="testimonial-title">Fantastic Treatment</h1>
                      <div class="testimonial-text">
                        <p>“Not only do you get a fantastic treatment but you are also valued and cared for. The best beauty salon I've been to I am happy to recomend to anyone”</p>
                      </div>
                      <h3 class="testimonial-name">- Isabel Enlow</h3>
                      <h6 class="testimonial-meta">Customer</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/testimonial-2.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"><span class="quote-left">“</span>
                      <h1 class="testimonial-title">Feeling Relaxed</h1>
                      <div class="testimonial-text">
                        <p>“I always come out of Beauty Salon feeling relaxed and calm, & able to face whatever the world wants to throw at me! thank you beauty salon”</p>
                      </div>
                      <h3 class="testimonial-name">- Kathy Parks</h3>
                      <h6 class="testimonial-meta">Customer</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/testimonial-3.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"><span class="quote-left">“</span>
                      <h1 class="testimonial-title">Fantastic Salon</h1>
                      <div class="testimonial-text">
                        <p>“A huge thank you to you all for helping me get ready for my wedding, professionalism and kindness you showed was fantastic,
                          thank you beauty salon””</p>
                      </div>
                      <h3 class="testimonial-name">- Lane Blevins</h3>
                      <h6 class="testimonial-meta">Customer</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/testimonial-4.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="testimonial-block pinside40 outline bg-white mb30">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="testimonial-content"><span class="quote-left">“</span>
                      <h1 class="testimonial-title">Fantastic Salon</h1>
                      <div class="testimonial-text">
                        <p>“A huge thank you to you all for helping me get ready for my wedding, professionalism and kindness you showed was fantastic,
                          thank you beauty salon””</p>
                      </div>
                      <h3 class="testimonial-name">- Lane Blevins</h3>
                      <h6 class="testimonial-meta">Customer</h6>
                    </div>
                  </div>
                  <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                    <div class="testimonial-img"><img th:src="@{/static/images/testimonial-4.jpg}" class="img-responsive" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <div class="sidenav pinside30 mb30">
                <ul class="listnone sidenav-outline">
                  <li><i class="fa fa-caret-right"></i> <a th:href="@{/intro}">소개</a></li>
                  <li><i class="fa fa-caret-right"></i> <a th:href="@{/friends}" class="active">친구 리뷰</a></li>
                  <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">음악</a></li>
                  <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">그림</a></li>
                  <li><i class="fa fa-caret-right"></i> <a href="service-detail.html">개발 ing</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</th:block>
</html>