<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

  <div class="page-header page-caption">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="page-title">구매</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="space-medium">
    <div class="container">
      <div class="row">


        <div class="col-lg-8 col-md-8">
          <div class="row view-page">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 view-margin">
              <div class="post-holder mb30">
                <div class="post-content pinside30 outline">
                  <div class="mb60">
                    <h1 class="mb20 heading-line" th:text="${market.title}">휴일이 신발 삽니다</h1>
                    <h1 class="market-status" th:if="${market.status == 'BUY'}">구매중</h1>
                    <h1 class="market-status-compl" th:if="${market.status == 'COMPLETE'}">구매 완료</h1>
                    <div class="meta"> <span class="meta-date" th:text="'작성 날짜 '+${market.uploadDate}">작성시간</span>
                      <span class="meta-comment" th:inline="text">- (10) <a href="#">댓글</a></span> <span class="meta-author">
                        - 글쓴이 <a href="#" th:text="${market.nickname}">휴일이</a></span>
                      <span class="meta-author"> - 조회수 <a href="#" th:text="${market.view}">X</a></span>
                    </div>
<!--                    <div class="post-image"><img src="images/blog-post-1.jpg" class="img-responsive view-page" alt=""></div>-->
                    <br>
                    <h1 th:text="${market.name}">휴일이 신발 2020px</h1>
                    구매 가격 <h1 th:text="${market.price}+' 원'">10000 원</h1>
                    수량 <h1 th:text="${market.quantity}+' 개'">1 개</h1>
                    거래 방식 <h1 th:text="${market.trade}">택배</h1>
                    <p th:text="${market.content}">내용</p>
                  </div>

                  <div class="bdr-btm"></div>
                  <div class="next-prev-post">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="prev-post">
                          <h5 class="prev-link"><a class="btn-link title" th:if="${prev == null}">이전글</a></h5>
                          <h5 class="prev-link"><a th:href="@{/market/buy/} + ${prev.id}" class="btn-link title" th:unless="${prev == null}">이전글</a></h5>
                          <h4 class="prev-next-title"><a th:href="@{/market/buy/} + ${prev.id}" class="title" th:text="${prev.title}" th:if="${prev != null}">휴일이짱</a></h4>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="next-post">
                          <h5 class="next-link"><a th:href="@{/market/buy/} + ${next.id}" class="btn-link title">다음글</a></h5>
                          <h4 class="next-prev-title"><a th:href="@{/market/buy/} + ${next.id}" class="title" th:text="${next.title}" th:if="${next != null}">휴일굿</a></h4>
                        </div>
                      </div>
                    </div>
                  </div>




                  <div class="bdr-btm"></div>
                  <h1 class="comments-title mb30" th:text="댓글"></h1>
                  <div class="row commentDiv">
                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 commentsDivs">

                      <!-- 댓글 수, 닉네임, 작성날짜, 내용 -->
                      <div class="comments-area mb40" th:each="comment : ${comments}" th:if="${comment.replyId eq null}" th:unless="${comment.uploadDate == null && comment.replyId eq null}">
                        <ul class="comment-list listnone">
                          <li class="comment">

                            <!-- 코멘트 id -->
                            <div class="comment-body" th:classappend="${comment.id}">
                              <div class="">
                                <div class="comment-header">
                                  <h4 class="user-title mb10" th:inline="text">
                                    [[${comment.nickname}]]
                                    <a class="reply replyBtn btn btn-default btn-sm removeComBtn" role="button" th:onclick="'removeCom('+${comment.id}+')'">삭제</a>
                                  </h4>
                                  <div class="comment-meta"><span class="comment-meta-date" th:text="'작성날짜 '+${comment.uploadDate}">작성날짜</span></div>
                                </div>
                                <div class="comment-content">
                                  <p th:text="${comment.content}"></p>
                                </div>
                                <!--                              <div class="reply" id="replyBtn" th:if="${session.memberId != null}"><a class="btn btn-default btn-sm">Reply</a></div>-->
                                <div class="reply replyBtn" id="replyBtn"><a class="btn btn-default btn-sm" role="button" th:onclick="'replyBtnOn('+${comment.id}+')'">Reply</a></div>
                                <hr>
                              </div>
                            </div>

                            <ul class="childern listnone" th:each="reply : ${comments}" th:if="${reply.replyId eq comment.id}">
                              <li class="comment">
                                <div class="comment-body">
                                  <div class="">
                                    <div class="comment-header">
                                      <input type="hidden" id="replyId" th:value="${reply.id}"/>
                                      <h4 class="user-title mb10" th:inline="text">
                                        [[${reply.nickname}]]
                                        <a class="reply replyBtn btn btn-default btn-sm removeComBtn" role="button" th:onclick="'removeCom('+${reply.id}+')'" th:unless="${reply.uploadDate == null}">삭제</a>
                                      </h4>
                                      <div class="comment-meta" th:unless="${reply.uploadDate == null}"><span class="comment-meta-date" th:text="'작성날짜 '+${reply.uploadDate}">작성날짜</span></div>
                                    </div>
                                    <div class="comment-content">
                                      <p th:text="${reply.content}"></p>
                                    </div>
                                    <hr>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <div class="row replyArea" th:classappend="'re'+${comment.id}">
                            <!--                <div class="row" th:if="${session.memberId != null}">-->
                          </div>
                        </ul>
                      </div>


                    </div>
                  </div>



                  <!--                <div class="row" id="commentArea">                   -->
                  <div class="row" th:if="${session.memberId != null}">
                    <div class="col-lg-12 col-md-12 col-md-12 col-sm-12">
                      <div class="leave-comments">
                        <!-- leave comments -->
                        <h1 class="reply-title  mb40">댓글 작성</h1>
                        <form class="reply-form">
                          <div class="row">
                            <!-- Textarea -->
                            <div class="form-group">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="textarea">내용 :</label>
                                <textarea class="form-control" id="content" rows="6" placeholder=" "></textarea>
                              </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <!-- Button -->
                              <div class="form-group">
                                <button type="button" id="writeBtn" name="writeBtn" class="btn btn-default" onclick="replyWrite(-10)">등록</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script th:inline="javascript">

  

</script>
</th:block>
</html>