<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
<body>
<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="pricing.html"><h1 class="page-title">굿즈 장터</h1></a>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="price-block outline mb30">
          <a href="service-detail.html"><div class="price-img">
            <img src="static/images/pricing-img-1.jpg" class="img-responsive" alt=""></div></a>
            <div class="price-content pinside30">
              <a href="service-detail.html">
                <h2 class="price-title mb10">휴일이가 신던 신발 팝니다</h2>
              </a>
          <p class="mb30">닉네임 | 날짜 | 조회수</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="price-block outline mb30">
        <a href="service-detail.html"><div class="price-img"><img src="images/pricing-img-1.jpg" class="img-responsive" alt=""></div></a>
        <div class="price-content pinside30">
          <h2 class="price-title mb10">휴일이가 신던 신발 팝니다</h2>
          <p class="mb30">닉네임 | 날짜 | 조회수</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="price-block outline mb30">
        <a href="service-detail.html"><div class="price-img"><img src="images/pricing-img-1.jpg" class="img-responsive" alt=""></div></a>
        <div class="price-content pinside30">
          <h2 class="price-title mb10">휴일이가 신던 신발 팝니다</h2>
          <p class="mb30">닉네임 | 날짜 | 조회수</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="price-block outline mb30">
        <a href="service-detail.html"><div class="price-img"><img src="images/pricing-img-1.jpg" class="img-responsive" alt=""></div></a>
        <div class="price-content pinside30">
          <h2 class="price-title mb10">휴일이가 신던 신발 팝니다</h2>
          <p class="mb30">닉네임 | 날짜 | 조회수</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="price-block outline mb30">
        <a href="service-detail.html"><div class="price-img"><img src="images/pricing-img-1.jpg" class="img-responsive" alt=""></div></a>
        <div class="price-content pinside30">
          <h2 class="price-title mb10">휴일이가 신던 신발 팝니다</h2>
          <p class="mb30">닉네임 | 날짜 | 조회수</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="price-block outline mb30">
        <a href="service-detail.html"><div class="price-img"><img src="images/pricing-img-1.jpg" class="img-responsive" alt=""></div></a>
        <div class="price-content pinside30">
          <h2 class="price-title mb10">휴일이가 신던 신발 팝니다</h2>
          <p class="mb30">닉네임 | 날짜 | 조회수</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</th:block>
</html>