<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">
<body>
<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a th:href="@{/fanLetter}"><h1 class="page-title">팬레터</h1></a>
      </div>
    </div>
  </div>
</div>

<div class="space-medium">
  <div class="container">
    <div class="row board-center">
      <div class="table-center"><h1 class="title-name">글쓰기</h1></div>
      <form th:object="${fanLetter}">
        <!-- Textarea -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <!-- Text input-->
          <div class="form-group">
            <label class=" control-label" for="title">제목 :</label>
            <input th:field="*{title}" type="text" class="form-control board-input" placeholder=" " required>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class=" control-label" for="textarea">내용 :</label>
            <textarea th:field="*{content}" class="form-control board-text" rows="6" placeholder=" "></textarea>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <input type="file" multiple="multiple" name="imagesInput" id="imagesInput" class=" control-label"/>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <h3>* (최대 5장) 업로드 된 이미지</h3>
            <div id="preview">
<!--              <p id="${file.lastModified}">-->
<!--                ${file.name}-->
<!--                <button data-index='${file.lastModified}' class='btn btn-default file-remove-btn'>X</button>-->
<!--              </p>-->
            </div>
          </div>
        </div>
        <!-- Button -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <button id="writeBtn" name="writeBtn" class="btn btn-default">글쓰기</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script th:inline="javascript">

  $( document ).ready( function() {

    $('#writeBtn').click(function () {
      let jwt = localStorage.getItem('jwt');
      let title = document.getElementById('title').value;
      let content = document.getElementById('content').value;

      // == 는 자동 타입 변환, === 는 타입까지 비교
      // | 는 비트 or , || 는 논리 or
      if (title === '' || title === ' ') {
        alert('제목을 입력하세요');
        document.getElementById('title').focus();
        return false;
      }
      if (content === '' || content === ' ') {
        alert('내용을 입력하세요');
        document.getElementById('content').focus();
        return false;
      }

      let fanLetterData = new FormData();

      // input file 을 formData에 담는 로직
      const fileInput = $('#imagesInput');
      const files = fileInput[0].files;
      for (var i = 0; i < files.length; i++) {
        fanLetterData.append('image', files[i]);
      }

      let fanLetterWriteDto = {title: title, content: content};
      fanLetterData.append('fanLetterWriteDto', new Blob([JSON.stringify(fanLetterWriteDto)], {type: 'application/json'}));

      $.ajax({
        type: 'POST',
        url: '/fanLetter/write',
        processData: false,
        contentType: false,
        data: fanLetterData,
        headers: { 'Authorization': 'Bearer '+ jwt },
        success: function(result) {
          alert('success');
          if (result === 'WRITE_OK') {
            window.location.href = '/fanLetter';
          } else {
            alert(result);
          }
        },
        error: function(error) {
          alert('error')
          console.error(error);
        }
      });
    })
  })


  const handler = {
    init() {
      const fileInput = document.querySelector('#imagesInput');
      const preview = document.querySelector('#preview');
      fileInput.addEventListener('change', () => {
        console.dir(fileInput)
        const files = Array.from(fileInput.files)
        files.forEach(file => {
          preview.innerHTML += `
                        <p id="${file.lastModified}">
                            ${file.name}
                            <button data-index='${file.lastModified}' class='btn btn-default file-remove-btn'>X</button>
                        </p>`;
        });
      });
      // 하나가 업로드 될 때마다 초기화 (multiple)
      // fileInput.value = '';
    },

    removeFile: () => {
      document.addEventListener('click', (e) => {
        if(e.target.className !== 'btn btn-default file-remove-btn') return;
        const removeTargetId = e.target.dataset.index;
        const removeTarget = document.getElementById(removeTargetId);
        const files = document.querySelector('#imagesInput').files;
        const dataTransfer = new DataTransfer();

        // document.querySelector('#imagesInput').files =
        //             Array.from(files).filter(file => file.lastModified !== removeTarget);


        Array.from(files)
                .filter(file => file.lastModified != removeTargetId)
                .forEach(file => {
                  dataTransfer.items.add(file);
                });

        document.querySelector('#imagesInput').files = dataTransfer.files;

        removeTarget.remove();
      })
    }
  }

  handler.init()
  handler.removeFile()
</script>
</body>
</th:block>
</html>