<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">
<body>

<div class="page-header page-caption">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a th:href="@{/fanLetter}"><h1 class="page-title">팬레터</h1></a>
      </div>
    </div>
  </div>
</div>

<div class="space-medium">
  <div class="container">
    <div class="row board-center">
      <div class="table-center"><h1 class="title-name">글쓰기</h1></div>
      <form th:object="${fanLetter}">
        <!-- Textarea -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <!-- Text input-->
          <div class="form-group">
            <label class=" control-label" for="title">제목 :</label>
            <input th:field="*{title}" type="text" class="form-control board-input" placeholder=" " required>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class=" control-label" for="textarea">내용 :</label>
            <textarea th:field="*{content}" class="form-control board-text" rows="6" placeholder=" "></textarea>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <input type="file" multiple="multiple" name="imagesInput" id="imagesInput" class=" control-label"/>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <h3>업로드 된 파일</h3>
            <div id="preview">
<!--              <p id="${file.lastModified}">-->
<!--                ${file.name}-->
<!--                <button id="fileDelBtn" name="fileDelBtn" data-index='${file.lastModified}'-->
<!--                        class="btn btn-default file-remove-btn">x</button>-->
<!--              </p>-->
            </div>
          </div>
        </div>
        <!-- Button -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <button id="writeBtn" name="writeBtn" class="btn btn-default">글쓰기</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<script th:inline="javascript">
  const handler = {
    init() {
      const fileInput = document.querySelector('#imagesInput');
      const preview = document.querySelector('#preview');
      fileInput.addEventListener('change', () => {
        console.dir(fileInput)
        const files = Array.from(fileInput.files)
        files.forEach(file => {
          preview.innerHTML += `
                        <p id="${file.lastModified}">
                ${file.name}
                <button id="fileDelBtn" name="fileDelBtn" data-index='${file.lastModified}'
                        class="btn btn-default file-remove-btn">x</button>
              </p>`;
        });
      });
    },

    removeFile: () => {
      document.addEventListener('click', (e) => {
        if(e.target.className !== 'file-remove-btn') return;
        const removeTargetId = e.target.dataset.index;
        const removeTarget = document.getElementById(removeTargetId);
        const files = document.querySelector('#imagesInput').files;
        const dataTransfer = new DataTransfer();

        // document.querySelector('#imagesInput').files =
        //             Array.from(files).filter(file => file.lastModified !== removeTarget);


        Array.from(files)
                .filter(file => file.lastModified != removeTargetId)
                .forEach(file => {
                  dataTransfer.items.add(file);
                });

        document.querySelector('#imagesInput').files = dataTransfer.files;

        removeTarget.remove();
      })
    }
  }

  handler.init();
  handler.removeFile();
</script>
</body>
</th:block>
</html>